<div class="something">
<div class="content">
<h1><%= @landmark.name %>: <%= @landmark.address %></h1>
    <%= link_to "Back",  root_path, class: "btn btn-primary"%>
  <%= link_to "Add a review",  new_landmark_review_path(@landmark), class: "btn btn-success"%>
  <%= link_to "Edit",  edit_landmark_path(@landmark), class: "btn btn-danger"%>
<div class="container mt-30">
<h2>Reviews</h2>
<% @landmark.reviews.each do |review| %>
<h3><%= review.content %></h3>
  <% review.rating.times do %>
    <i class="fas fa-star"></i>
  <% end %>
  <% (5 - review.rating).times do %>
    <i class="far fa-star"></i>
  <% end %>
<% end %>
</div>
</div>
<div class="landmark_background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= 'https://source.unsplash.com/random/?' + @landmark.name.split(" ").join('-')%>);"></div>
</div>
